:host {
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  /*position: fixed;*/
  /*top: 0;*/
  border: 2px solid #4f4f4f;
  border-radius: 5px;
}

img {
  display: block;
  width: auto;
  height: auto;
  max-height: 90px;
}
