:host {
  display: flex;
  height: 100%;
}
.display-main {
  /*padding-bottom: 100px;*/
  display: flex;
  flex-grow: 1;
  /*flex-direction: row;*/
  margin-bottom: 100px;
  min-height: 100vh;
  height: 100%;
}
