/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #5A6D76;
  width: 100vw;
  font-family: 'Comfortaa', cursive;
  font-size: 1.4em;
}

.container {
  background-color: #182A33;
}
