/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #76838A;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Comfortaa', cursive;
  font-size: 1.4em;
}

.container {
  background-color: #303030;
}
